<% include ./partials/header %>
<% include ./partials/nav %>
<div class="content">
  <div class="spacer"></div>
  <h1> oops! We haven't created a page for this yet </h1>
</div>
<% include ./partials/footer %>
