<% include ./partials/header %>
<% include ./partials/nav %>
<div class="content">
  <div class="spacer"></div>
  <h1> Log in! </h1>
  <form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit">
  </form>
</div>

<% include ./partials/footer %>
